* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box {
    background-color: #FFF;
    color: black;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}
